<!DOCTYPE html>
<html lang="en">

<head>
  <title>捕鱼圣手</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="keywords" content="游戏 捕鱼 x-men X-Men 广州艾克斯曼网络科技有限公司">
  <meta name="description" content="广州艾克斯曼网络科技有限公司">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="renderer" content="webkit">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="x5-fullscreen" content="true" />
  <meta name="full-screen" content="yes">
</head>

<body>
  <div class="page-container" style="position: relative;">
    <header class="js-Headnav"></header>
    <div class="section section_01">
      <img class="bg" src="../app/static/img/index/index_bg_01.jpg">
      <div class="download-block">
        <span class="js-Download"></span>
      </div>
    </div>
    <div class="section section_02">
      <img class="bg" src="../app/static/img/index/index_bg_02.jpg">
      <!-- 新闻资讯 -->
      <div class="title"></div>
      <div class="wxzx-content">
        <div class="left">
          <div class="swiper-container js-Swiper_01">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><a href="./news.html#__NEWS?id=_5"><img src="../app/static/img/index/index_P_01.png"></a></div>
              <div class="swiper-slide"><a href="./news.html#__ACTIVITIES?id=_1"><img src="../app/static/img/index/index_P_02.png"></a></div>
            </div>
            <div class="swiper-pagination" style="cursor: default"></div>
          </div>
          <div class="hr border-bottom-1px"></div>
        </div>
        <div class="right">
          <div class="js-more_news pointer"></div>
          <div class="js-newsType">
            <span class="type active">最新</span>
            <span class="type">公告</span>
            <span class="type">活动</span>
            <span class="type">攻略</span>
          </div>
          <div class="news_title_content">
            <!-- template inject -->
          </div>
        </div>
      </div>
    </div>
    <div class="section section_03">
      <img class="bg" src="../app/static/img/index/index_bg_03.jpg">
      <div class="title"></div>
      <div class="yxts-content">
        <div class="swiper-container js-Swiper_02">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_01.png"></div>
            <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_02.png"></div>
            <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_03.png"></div>
            <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_04.png"></div>
          </div>
          <div class="swiper-pagination" style="cursor: default"></div>
        </div>
      </div>
    </div>


  </div>
  <div class="js-Footer"></div>
</body>

</html>